body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    width: 100%;
}


#nav-bar{
    position: sticky;
    top: 0;
    z-index:10;     
}

.nav{
    background-image: linear-gradient(to right,#080808,#e90f0f);
    padding: 0 !important;
    
}

#nav-bar img{
    height: 30px; width: 90px;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}   


.nav ul{
    float: right;
    margin-right: 20px;
    text-align: center;
}


.nav li{
    display: inline-block;
    font-weight: 30px;
    font-size: 20px;
    margin: 0 5px;
    padding-right: 50px;
    text-decoration-line: none;
    color: white;
}

.nav li:hover{
    background-color:#4e1212;
    height: 40px;
    text-align: right;
}

.nav li a{
    text-decoration-line: none;
    color: white;
    
}

#banner{
    height: 80vh;
    background-image: linear-gradient(to right,#080808,#e90f0f);
}

.banner1, .banner2, .banner3, .banner4
{
    height: 80vh;
    width: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
    
}

#banner img{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    animation: zom-out 3s linear infinite;
    background: no-repeat;
}
@keyframes zom-out{
    100%{
        width: 90%;
    }
}

.text-box{
    width: auto;
    position: absolute;
    top: 200px;
    left: 100px;
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}


.text-box h1{
    margin-bottom: 10px;
    color: rgba(255, 5, 5, 0.904);
    font-style: italic;
    font-family: cursive;
}

.text-box h3{
    margin-bottom: 10px; 
    margin-top: 30px;
    color: white;

}
.text-box p{
    font-size: 14px;
    color: white;
}

.text-box span{
    background:darkred;
    height: 2px;
    width: 100px;
    position: absolute;
    left: 0;

}

.banner1{
    animation: slide1 12s linear infinite;
}

.banner2{
    animation: slide2 12s linear infinite;
}

.banner3{
    animation: slide3 12s linear infinite;
}

.banner4{
    animation: slide4 12s linear infinite;
}

@keyframes slide1{
    0%{visibility: visible;

    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;

    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@keyframes slide2{
    0%{visibility: hidden;

    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;

    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide3{
    0%{visibility: hidden;

    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;

    }
    75%{
        visibility:visible;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide4{
    0%{visibility: hidden;

    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;

    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@keyframes textup{
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}

.text-box1{
    animation-delay: 0s;
}

.text-box2{
    animation-delay: 3s;
}

.text-box3{
    animation-delay: 6s;
}

.text-box4{
    animation-delay: 9s;
}


.container1{
    width: auto;
    padding: 120px;
    margin-left: 50px;
    margin-right: 50px;
}


#about p{
    text-align: justify;
    padding-top: 10px;
    margin: 40px;
}

#about h2{
    padding: 20px;
}

.col-sm-4{
    float: right;
    width: 800px;
}

.col-sm-4{
    float: left;
    width: 500px;
}

.col-md-1{
    float: left;
    width: 500px;
}

.col-md-2{
    float: left;
    width: 800px;
}


#services h2{
   padding: 20px;   
}

#services h3{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px; 
}

.pity{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px; 
}

#services h4{
    padding: 20px; 
}


.container2{
    width: auto;
    padding: 120px;
    margin-left: 50px;
    margin-right: 50px;
    
}

#services p{
    padding-top: 10px;
    margin: 40px;
    text-align: justify;
}
.container3{
    width: auto;
    padding: 120px;
    margin-left: 50px;
    margin-right: 50px;
}

.col-md-4{
    float: right;
    padding: 10px;
}

#contact{
    top: 50px;
}

.container4{
    width: auto;
    padding: 120px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

#contact p{
    width: auto;
    margin:50px;
}

#contact h2{
    padding-top: 100px;
    margin:50px;
}

span{
    margin: 50px;
}

